*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    color: red;
    text-decoration: none;
}
h2{
    background-color: black;
    color: #fff;
}
.firstptag {
    color: red;
}
.active{
    color: blue;
    text-decoration: underline;
    background-color: black;
}

ul {list-style: circle}

li::before {content: "•"; color: red}

.second::first-letter {
    font-size: 30px;
    color: #8A2BE2;
  }